@model List<InformationExchange.Order.Web.Models.OrderView>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading"> Orders</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Items
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Region
                        </th>
                        <th>
                            Country
                        </th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var order in Model)
                   {
                       <tr>
                           <td>
                               @order.Name
                           </td>
                           <td>
                               @order.Items
                           </td>
                           <td>
                               @order.Value
                           </td>
                           <td>
                               @order.Region
                           </td>
                           <td>
                               @order.Country
                           </td>
                       </tr>
                   }
                </tbody>
            </table>
        </div>
      
    </div>
</div>
